@model KrabStore.WebUI.Models.ProductListViewModel

@{
    ViewBag.Title = "List";
}

@foreach (var p in Model.Products)
{
    Html.RenderPartial("ProductSummary", p);
}

<div class="pager">
   @Html.PagedLinks(Model.pagingInfo, x => Url.Action("List", new {Page=x}))
</div>